<hr />

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="left">
    <div class="dropdownTOT">
      <button class="dropbtn">Type of Translation</button>
      <ul class="dropdown-content">
        <li (click)="changeToText()">Text Input</li>
        <li (click)="changeToOCR()">OCR</li>
      </ul>
    </div>
  </div>
  <div fxLayoutAlign="space-between center">
    <div class="dropdownLanguage1">
      <button class="dropbtn" *ngIf="lang==null">Select a language</button>
      <button class="dropbtn" *ngIf="lang!=null">{{lang}}</button>
      <ul class="dropdown-content">
        <li (click)="changeLang('EN')">English</li>
        <li (click)="changeLang('ES')">Spanish</li>
        <li (click)="changeLang('LV')">Latvian</li>
        <li (click)="changeLang('RO')">Romanian</li>
        <li (click)="changeLang('DE')">German</li>
        <li (click)="changeLang('PT')">Portuguese</li>
      </ul>
    </div>
  </div>
</div>

<hr />

<div class="textareas halfWidth" fxLayout="column" fxLayoutAlign="center">
  <div class="fullWidth margin-20">
    <input type="text" class="fullWidth" [formControl]="formGroup.get('toSearch')" *ngIf="showTextArea"/>
    <div *ngIf="!showTextArea">
      <input type="file"
             #fileUploadInput
             (change)="handleFileInput($event.target.files)"
             accept="image/*"/>
      <button class="dropbtn" (click)="fileUploadInput.click()">Upload Image</button>
    </div>
  </div>
  <div class="fullWidth margin-20">
    <textarea class="fullWidth" [formControl]="formGroup.get('result')" readonly></textarea>
  </div>
</div>

<div fxLayoutAlign="center center" class="margin-20">
  <button class="dropbtn" (click)="search()">Search</button>
</div>
